@page "/auditointi"
@using SharedLib
@inject HttpClient Http
@inject IModalService ModalService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="mb-5">
	<button class="btn btn-primary" @onclick="Auditointipohjat">Auditointipohjat</button>
	<button class="btn btn-primary" @onclick="Vaatimukset">Vaatimukset</button>
</div>

<h3 class="mb-4">Auditointi</h3>

<h4>Suoritetut auditoinnit</h4>

@if (auditoinnit != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Selite</th>
				<th>Päivämäärä</th>
				<th>Tekijä</th>
				<th>Kohde</th>
				<th>Lopputulos</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in auditoinnit)
			{
				<tr>
					<td>@item.Idauditointi</td>
					<td>@item.Selite</td>
					<td>@item.Luotu.ToString("dd.MM.yyyy HH:mm")</td>
					<td>@item.KayttajaNimi</td>
					<td>@item.KohdeNimi</td>
					<td>
						@if (item.Lopputulos == 1)
						{
							<span style="color: green">hyväksytty</span>
						}
						else
						{
							<span style="color: red">hylätty</span>
						}
						
					</td>
				</tr>
			}

		</tbody>
	</table>
}
else
{
	<p>ladataan dataa..</p>
}





@code {
	AuditointiDTO[]? auditoinnit;

	protected override async Task OnInitializedAsync()
	{
		auditoinnit = await Http.GetFromJsonAsync<AuditointiDTO[]>("/auditointi/all");
	}

	private void Auditointipohjat()
	{
		NavigationManager.NavigateTo("/auditointipohjat");
	}

	private void Vaatimukset()
	{
		NavigationManager.NavigateTo("/vaatimukset");
	}



}
