@page "/auditointi"
@using SharedLib
@inject HttpClient Http
@inject IModalService ModalService
@inject NavigationManager NavigationManager

<h3 class="mb-4">Auditointi</h3>

<h4 class="mb-3">Auditointipohjat</h4>

@if (auditointipohjat != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Selite</th>
				<th>Luotu</th>
				<th>Tekijä</th>
				<th>Kohderyhmä</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in auditointipohjat)
			{
				<tr>
					<td>@item.Idauditointipohja</td>
					<td>@item.Selite</td>
					<td>@item.Luontiaika</td>
					<td>@item.KayttajaNimi</td>
					<td>@item.KohderyhmaNimi</td>
				</tr>
			}

		</tbody>
	</table>
}
else
{
	<p>ladataan dataa..</p>
}

<button class="btn btn-primary" @onclick="AddAuditointipohja">Lisää uusi auditointipohja</button>
<button class="btn btn-secondary" @onclick="Vaatimukset">Selaa vaatimuspohjia</button>

@code {
	AuditointipohjaDTO[]? auditointipohjat;

	protected override async Task OnInitializedAsync()
	{
		auditointipohjat = await Http.GetFromJsonAsync<AuditointipohjaDTO[]>("auditointipohja/all");
	}

	async Task AddAuditointipohja()
	{
		var uusiModal = ModalService.Show<AddAuditointipohja>("Auditointipohja");
		var result = await uusiModal.Result;
	}

	private void Vaatimukset()
	{
		NavigationManager.NavigateTo("/vaatimukset");
	}



}
