@page "/kayttajaprofiili"
@using SharedLib
@inject NavigationManager NavigationManager
@inject ILogger<Index> Logger
@inject HttpClient Http
@attribute [Authorize]

<AuthorizeView>
	<h3 class="mb-4">Terve <i>@context.User.Identity.Name</i>.</h3>
</AuthorizeView>

@if (@data != null)
{
	<h4 class="mb-3">Omat tiedot</h4>

	<div class="card">
		<img src="https://cdn-icons-png.flaticon.com/512/1038/1038726.png" alt="Avatar" style="width:100%">
		<div class="container">
			<span>Käyttäjätunnus: @data.Kayttajatunnus</span><br>
			<span>Viimeisin kirjautuminen: @data.ViimeisinKirjautuminen</span><br>
			<span>Käyttäjä luotu: @data.Luotu</span><br>
			<span>Rooli: @data.Rooli</span><br>
			<span>Aktiivinen:

				@if(@data.Poistettu == 0)
				{
					<span>kyllä</span>
				}
				else
				{
					<span>ei</span>
				}
			</span>
		</div>
	</div>
}
else
{
	<h4 class="mb-3">Ei tietoja saatavilla</h4>
}
<hr />
<h4 class="mb-3">Vaihda salasana</h4>

<EditForm Model="uusi" OnValidSubmit="ChangePassword">
	<DataAnnotationsValidator />

	<div class="mb-3">
		<label for="uusiSalasana">Uusi salasana</label>
		<InputText id="salasana" @bind-Value="uusi.UusiSalasana" class="form-control" type="password" />
		<ValidationMessage For="@(()=> uusi.UusiSalasana)" />
	</div>

	<div class="mb-3">
		<label for="vahvistaSalasana">Vahvista salasana</label>
		<InputText id="vahvistaSalasana" @bind-Value="uusi.VahvistaSalasana" class="form-control" type="password" />
		<ValidationMessage For="@(()=> uusi.VahvistaSalasana)" />
	</div>

	<button type="submit" class="btn btn-primary">Tallenna</button>
	<br /> <br />
	<div class="mb-3"><span style="color: blue">@message</span></div>

</EditForm>


@code {
	VaihdaSalasana uusi = new();
	string message = string.Empty;
	private KayttajaDTO? data;

	protected override async Task OnInitializedAsync()
	{
		data = await Http.GetFromJsonAsync<KayttajaDTO>("kayttaja/omatTiedot");
	}

	private async Task ChangePassword()
	{
		var result = await Http.PostAsJsonAsync("/auth/vaihdaSalasana", uusi);

		if (result.IsSuccessStatusCode)
		{
			message = "Salasanan vaihto onnistui.";
			uusi = new VaihdaSalasana();
		}
		else
		{
			message = "Jotain meni vikaan.";
		}

	}


}
