@page "/vaatimukset"
@using SharedLib
@inject HttpClient Http
@inject IModalService ModalService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="mb-5">
<button class="btn btn-outline-primary" @onclick="Previous">Auditointisivulle</button>
<button class="btn btn-primary" @onclick="Vaatimuspohjat">Vaatimuspohjat</button>
</div>

<h3 class="mb-4">Vaatimukset</h3>

@if(vaatimukset != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Kuvaus</th>
				<th>Pakollisuus</th>
				<th>Täytetty</th>
				<th>Auditointi</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in vaatimukset)
			{
				<tr>
					<td>@item.Idvaatimus</td>
					<td>@item.Kuvaus</td>
					<td>@item.Pakollisuus</td>
					<td>@item.Taytetty</td>
					<td>@item.AuditointiSelite</td>
				</tr>
			}
		</tbody>
	</table>
}

else
{
	<p>ladataan dataa..</p>
}

@*<button class="btn btn-secondary" @onclick="@(e=> Copy(pohjaId))">Kopioi valittu pohja</button>*@


@code {
	VaatimusDTO[]? vaatimukset;

	protected override async Task OnInitializedAsync()
	{
		vaatimukset = await Http.GetFromJsonAsync<VaatimusDTO[]>("vaatimus/all");
	}


	async Task Vaatimuspohjat()
	{
		NavigationManager.NavigateTo("/vaatimuspohjat");
	}

	async Task Previous()
	{
		NavigationManager.NavigateTo("/auditointi");
	}


}
