@using SharedLib
@inject HttpClient Http
@inject IJSRuntime JS
@attribute [Authorize]


@if (tarkastus != null && tila != null && aikaleima != null)
{
    int Id = tarkastus.Idkohde;
    <EditForm Model="tarkastus" OnValidSubmit="Sulje" Context="formContext">

        <div class="mb-3">
            <label for="id">Tarkastuksen Id</label>
            <InputNumber id="id" @bind-Value="tarkastus.Idtarkastus" class="form-control" Disabled />
        </div>

        <div class="mb-3">
            <label for="aikaleima">Tarkastus suoritettu</label>
            <InputText id="aikaleima" @bind-Value="aikaleima" class="form-control" Disabled />
        </div>

        <div class="mb-3">
            <label for="kayttajaNimi">Tarkastuksen tekijä</label>
            <InputText id="kayttajaNimi" @bind-Value="tarkastus.KayttajanNimi" class="form-control" Disabled />
        </div>

        <div class="mb-3">
            <label for="kohde">Kohde</label>
            <InputText id="kohde" @bind-Value="tarkastus.KohteenNimi" class="form-control" Disabled />
        </div>

        <div class="mb-3">
            <label for="syy">Tarkastuksen syy</label>
            <InputText id="syy" @bind-Value="tarkastus.Syy" class="form-control" Disabled="@muokataanko" />
        </div>

        <div class="mb-3">
            <label for="havainnot">Havainnot</label>
            <InputText id="havainnot" @bind-Value="tarkastus.Havainnot" class="form-control" Disabled="@muokataanko" />
        </div>

        <div class="mb-3">
            <label for="tilanMuunnos">Tilan muutos</label>
            <InputText id="tilanMuunnos" @bind-Value="tila" class="form-control" Disabled />
        </div>

        <div class="mb-3">
            <label>Liitteet</label>
            @if (tarkastus.Liitteet is not null)
            {
                <ul>
                    @foreach (var file in tarkastus.Liitteet)
                    {
                        <li>
                            <a style="text-decoration:none" href="@file.Location" target="_blank">@file.FileName</a>
                            <button type="button" class="btn" @onclick="@(()=> DownloadFile(@file.FileName))"><span class="oi oi-cloud-download"></span></button>
                            <button type="button" class="btn" @onclick="@(()=> RemoveFile(@file.FileName))"><span class="oi oi-trash"></span></button>
                        </li>

                    }
                </ul>
            }
        </div>
        @if (!muokataanko)
        {
        <button style="margin-right: 0.5em" type="button" class="btn btn-primary" @onclick="@TallennaTarkastus">Tallenna</button>
        }
        else
        {
        <button style="margin-right: 0.5em" type="submit" class="btn btn-primary">Sulje</button>
        }
        
    <AuthorizeView Roles="admin" Context="authContext">
        <button type="button" class="btn btn-secondary" @onclick="@MuokkaaTarkastus">Muokkaa</button>
        <button type="button" class="btn btn-danger" @onclick="@DeleteTarkastus">Poista</button>
    </AuthorizeView>
        <br />
        <button style="margin-top: 1em" type="button" class="btn btn-secondary" @onclick="@(e => ShowTarkastukset(Id))">Näytä kohteen tarkastukset</button>
    </EditForm>
}
else
{
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}



@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;
    [CascadingParameter] public IModalService ShowModal { get; set; } = default!;
    private List<UploadResult> uploadResults = new List<UploadResult>();

    private TarkastusDTO? tarkastus = new TarkastusDTO();
    private List<TilaDTO>? tilat;
    private string? tila;
    private string? aikaleima;
    private bool muokataanko = true;
    private bool paivitys = false;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tilat = await Http.GetFromJsonAsync<List<TilaDTO>>("/tila/all");
        tilat.Add(new TilaDTO { IdkohteenTila = 0, Kuvaus = "ei muutosta" });

        tarkastus = await Http.GetFromJsonAsync<TarkastusDTO>($"/tarkastus/{Id}");

        if (tarkastus is not null)
        {
            tila = tilat.Find(t => t.IdkohteenTila == tarkastus.TilanMuutos).Kuvaus;
            aikaleima = tarkastus.Aikaleima.ToString("dd.MM.yyyy HH:mm");
        }

    }


    private async Task Sulje()
    {
        if (paivitys) await Modal.CloseAsync(ModalResult.Cancel("Päivitetään"));
        else await Modal.CloseAsync(ModalResult.Cancel());
    }

    private async Task ShowTarkastukset(int Id)
    {
        await Sulje();
        var parameters = new ModalParameters()
        .Add(nameof(KohteenTarkastukset.kohdeId), Id);

        var uusiModal = ShowModal.Show<KohteenTarkastukset>($"Tarkastukset", parameters);
        var result = await uusiModal.Result;
    }

    private async Task DownloadFile(string fileName)
    {
        var respone = await Http.GetAsync($"/tiedosto/lataa/{fileName}");

        if (!respone.IsSuccessStatusCode)
        {
            await JS.InvokeVoidAsync("alert", "Tiedostoa ei löytynyt.");
        }
        else
        {
            var fileStream = respone.Content.ReadAsStream();
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
    }

    private async Task RemoveFile(string fileName)
    {
        await Http.DeleteAsync($"/tiedosto/{fileName}");
        if (tarkastus is not null && tarkastus.Liitteet is not null)
        {
            tarkastus.Liitteet.Remove(tarkastus.Liitteet.Find(u => u.FileName == fileName));
        }
    }


    private async Task DeleteTarkastus()
    {
        List<UploadResult> lista = new List<UploadResult>();
        if (tarkastus is not null)
        {

            if (tarkastus.Liitteet is not null) lista = tarkastus.Liitteet.ToList();

            foreach (var upload in lista)
            {
                if (upload.FileName is not null) await RemoveFile(upload.FileName);
            }

            await Http.DeleteAsync($"/tarkastus/{tarkastus.Idtarkastus}");

            await Modal.CloseAsync(ModalResult.Ok($"Poistettu: {tarkastus.Idtarkastus}"));
        }
    }

    private void MuokkaaTarkastus()
    {
        muokataanko = false;
    }

    private async Task TallennaTarkastus()
    {

        if (tarkastus is not null) await Http.PutAsJsonAsync<TarkastusDTO>($"/tarkastus/muokkaa/{tarkastus.Idtarkastus}", tarkastus);
        muokataanko = true;
        paivitys = true;
    }

}

